<%-include('partials/head.ejs') %>


<h1>Comment you asked for</h1>
<div>
    <h7><b><%= comm.username%></b></h7>
      <h4><%=comm.comment%></h4>
      
      <p><%= comm.id%></p>
    
    </div>

<a margin="10px" href="/comments">index page</a>

<a href="/comments/<%=comm.id%>/edit">edit comment</a>

<%-include('partials/footer.ejs') %>